/nbproject/private/
/MathiasProject/nbproject/private/
/MadsLykke/nbproject/private/
/MadsJacobsen/nbproject/private/
/KaspersProject/nbproject/private/
/RunesProject/nbproject/private/
/zuul-framework/nbproject/private/
/zuul-framework/build/
/zuul-framework/dist/