/nbproject/private/
/MathiasProject/nbproject/private/
/MadsLykke/nbproject/private/
/MadsJacobsen/nbproject/private/
/KaspersProject/nbproject/private/
/RunesProject/nbproject/private/
/zuul-framework/nbproject/private/
/zuul-framework/build/
/zuul-framework/dist/
*.properties
zuul-framework/src/Gui2D/WizardOfTreldan.java
/TWoT/Storage/nbproject/private/
/TWoT/Storage/build/
zuul-framework/src/Gui2D/SpriteController/SingleSprite/SingleSpriteGrouping/Misc_sprites.java
zuul-framework/src/Gui2D/Maps/Village.java
zuul-framework/src/Gui2D/Maps/Village.java
*.data