.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: #3f3f3f ;
    -fx-text-fill: #00ff00;
}
.text-area *.text {
    -fx-text-alignment: justify;
}
.inventory{
    -fx-background-image: url('inventory.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300 512;
    -fx-background-position: center center;
}
.inventoryList{
    -fx-background-color: transparent ;
}
.list-view .list-cell {
    -fx-background-color: transparent ;
}
.list-view .list-cell:focused {
    -fx-background-color: #6a6a6a;
}
.item{
    -fx-background-color: #6a6a6a ;
}

.progress-bar > .track {
  -fx-text-box-border: forestgreen;
  -fx-control-inner-background: palegreen;
}
.progress-bar{
  -fx-accent: red;
}